@import 'constants.scss';

.transactions-body {
    margin: 24px;
    display: flex;
    justify-content: center;
    .MuiTableCell-head {
        font-size: 16px;
    }
    .transaction-table-wrapper {
        width: 100%;
    }
    .transaction-row {
        background-color: #FBFAF9;
        .grey-cell {
            color: #9D9C9F;
        }
        &:hover th,
        &:hover td{
            color: $green-theme;
        }
    }
}
